<% @messages.each do |message| %>
	<div class="col-md-4 pb-3">
		<% if message.isread %>
		<div class="card bg-info text-white">
		<% else %> 
		<div class="card bg-warning text-white">
		<% end %>
		<div class="card-body">
			<% if params[:send] %>
				<h5 class="card-title">To: <%= User.find(message.receiver).name %></h5>
			<% else %>
				<h5 class="card-title">From: <%= message.user.name %></h5>
			<% end %>
				<p class="card-text"><%= truncate(message.text, :length=> 100) %></p>
				<%= link_to "Show", message_path(message), :class => "btn btn-primary" %>
			</div>
	</div>
</div>
<% end %>	
