<div class="container">
	<% if flash[:success] != nil %>
	<div class="row">
		<div class="col-md-12 pb-3">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<%= flash[:success] %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-md-12 pb-3">
			<% @users.each do |user| %>
				<div class="row">
					<strong><%= user.name %>&nbsp</strong>
					<%= button_to "Add Friend", friendships_path(:friend_id => user), :class => "btn btn-primary" %> 
				</div>
				<% end %>
		</div>
	</div>
</div>
